body {
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 32px;
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 30px;
    color: #F9FAF8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
}

.right-links {
    font-size: 18px;
    color: #E5E7EB;
    font-family: Georgia, 'Times New Roman', Times, serif;
}